/* star rating component styles */
/* most of the styling is done in the index.js file as inline styling for demo purposes, since we're using the react-icons library */


/* general styling of the entire div */
.star-rating {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
}

/* styling of state of the stars - active and inactive */

.active {
    color: #FFB300;
}

.inactive {
    color: #808080;
}

/* styling of the reset button */

.reset-btn {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2em 1em;
    margin-inline: 0.5em;
    margin-top: 3em;
    color: #fff;
    background-color: #FFB300;
    border-radius: 3em;
    border: none;
    box-shadow: 0 0.5em #DC9A00;
    cursor: pointer;
}

.reset-btn:active {
    box-shadow: none;
    position: relative;
    top: 0.5em;
}