:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* root font size 1 rem -> 24px */
  font-size: 24px;
  /* to remove */
  text-align: center;

  background-color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
}