#switch-btn,
#random-btn {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 1em;
    margin-inline: 0.5em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    border: none;
    box-shadow: 0 0.5em rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#switch-btn:active,
#random-btn:active {
    box-shadow: none;
    position: relative;
    top: 0.5em;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 120px;
    margin-block: 60px;
    flex-direction: column;
    
}


@media (max-width: 768px) {
    #switch-btn,
    #random-btn {
      margin-block: 0.5em;
      font-size: 18px;
    }

    h1 {
      font-size: 80px;
    }
  }